<div class="cartela">
    <div class="fixed-colu">
        <div class="resp-square"><b>B</b></div>
        <div class="resp-square" *ngFor="let b of cartela.b">
            {{b}}
        </div>
    </div>
    <div  class="fixed-colu">
        <div class="resp-square"><b>I</b></div>
        <div class="resp-square" *ngFor="let b of cartela.i">
            {{b}}
        </div>
    </div>
    <div  class="fixed-colu">
        <div class="resp-square"><b>N</b></div>
        <div class="resp-square" *ngFor="let b of cartela.n">
            {{b}}
        </div>
    </div>
    <div  class="fixed-colu">
        <div class="resp-square"><b>G</b></div>
        <div class="resp-square" *ngFor="let b of cartela.g">
            {{b}}
        </div>
    </div>
    <div  class="fixed-colu">
        <div class="resp-square"><b>O</b></div>
        <div class="resp-square" *ngFor="let b of cartela.o">
            {{b}}
        </div>
    </div>
</div>